/* styles5.css */
body {
    background-color: #e6e6fa;
}

.container {
    background: #9370db;
    color: #fff;
}

#start-btn {
    background-color: #6315ac96;
}

#start-btn:hover {
    background-color: #892be296;
}

#next-btn {
    background-color: #6315ac96;
}

#next-btn:hover {
    background-color: #892be296;
}

.progress {
    background-color: #9370db;
}
