/* styles2.css */
body {
    background-color: #ffebcd;
}

.container {
    background: #ff6f61;
    color: #fff;
}

#start-btn {
    background-color: #c75a2f;
}

#start-btn:hover {
    background-color: #eb5924;
}

#next-btn {
    background-color: #ffd700;
}

#next-btn:hover {
    background-color: #eb5924;
}

.progress {
    background-color: #ff4500;
}