/* styles3.css */
body {
    background-color: #ffe4e1;
}

.container {
    background: #ff1491be;
    color: #fff;
}

#start-btn {
    background-color: #a11f60;
}

#start-btn:hover {
    background-color: #c21973;
}

#next-btn {
    background-color: #a11f60;
}

#next-btn:hover {
    background-color: #c21973;
}

.progress {
    background-color: #ff1493;
}
