/* styles2.css */
body {
    background-color: #ffebcd;
}

.container {
    background: #ff6f61;
    color: #fff;
}

#start-btn {
    background-color: #ffa07a;
}

#start-btn:hover {
    background-color: #ff7f50;
}

#next-btn {
    background-color: #ffd700;
}

#next-btn:hover {
    background-color: #ff6347;
}

.progress {
    background-color: #ff4500;
}