/* styles6.css */
body {
    background-color: #98fb98;
}

.container {
    background: #32cd32;
    color: #fff;
}

#start-btn {
    background-color: #7fff00;
}

#start-btn:hover {
    background-color: #7cfc00;
}

#next-btn {
    background-color: #adff2f;
}

#next-btn:hover {
    background-color: #00ff7f;
}

.progress {
    background-color: #32cd32;
}
