/* styles6.css */
body {
    background-color: #bef8be;
}

.container {
    background: #32cd32;
    color: #fff;
}

#start-btn {
    background-color: #498d05;
}

#start-btn:hover {
    background-color: #79a150;
}

#next-btn {
    background-color: #498d05;
}

#next-btn:hover {
    background-color: #79a150;
}

.progress {
    background-color: #32cd32;
}
