/* styles4.css */
body {
    background-color: #f0e68c;
}

.container {
    background: #ff4500;
    color: #fff;
}

#start-btn {
    background-color: #ffa500;
}

#start-btn:hover {
    background-color: #ff8c00;
}

#next-btn {
    background-color: #ffd700;
}

#next-btn:hover {
    background-color: #daa520;
}

.progress {
    background-color: #ff4500;
}
