/* styles5.css */
body {
    background-color: #e6e6fa;
}

.container {
    background: #9370db;
    color: #fff;
}

#start-btn {
    background-color: #8a2be2;
}

#start-btn:hover {
    background-color: #7b68ee;
}

#next-btn {
    background-color: #ba55d3;
}

#next-btn:hover {
    background-color: #9932cc;
}

.progress {
    background-color: #9370db;
}
